.slide-indicator {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dot {
    width: 8px;
    height: 30px;
    background-color: lightgray;
    border-radius: 4px;
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s;
    cursor: pointer;
}

.dot:hover {
    background-color: gray;
}

.dot.active {
    background-color: black;
    opacity: 1;
}
