/* Base styling */
body, html {
    background-color: #1db954;
    color: #ffffff;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

/* Wrapper for Spotify content */
.spotify-wrapper {
    background: linear-gradient(158deg, rgba(0, 0, 0, 1) 10%, rgba(173, 52, 113, 1) 100%, rgba(255, 77, 167, 1) 100%);
    padding: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 100%;
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Independent styling for h1 */
h1 {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: #ff4dce;
    margin: 10px 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.2s;
}

/* Error styling */
.error {
    color: red;
    margin: 2vw 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.4s;
}

/* Yearly tracks section */
.yearly-tracks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .1vw;
    max-width: 90%;
    width: 100%;
    margin: auto;
    margin-top: 6vw;
}

/* Individual yearly track items */
.yearly-track-item {
    background-color: transparent;
    padding: 1vw;
    width: 15vw;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease forwards;
    gap: 1vw;
}

/* Album cover container */
.album-cover-container {
    width: 10vw;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

/* Album cover images */
.album-cover {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    margin-bottom: 1vw;
}

/* Stacked album cover effect */
.album-cover:first-child {
    transform: translate(-0.5vw, -0.5vw);
    z-index: 2;
}
.album-cover:last-child {
    transform: translate(0.5vw, 0.5vw);
    z-index: 1;
}

/* Track details styling */
.track-details {
    text-align: center;
    margin-top: 1vw;
    width: 100%;
}

/* Track label styling */
.track-label {
    font-size: 1.5vw;
    font-weight: bolder;
    color: #ff4dce;
    margin: 2px 0;
}

/* Artist name and track name styling */
.artist-name, .track-name {
    font-size: 0.8vw;
    display: block;
}

/* Hover effects */
.artist-name:hover, .track-name:hover {
    color: #ffffff;
}

/* Navigate button styling */
.navigate-button {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    width: 3vw;
    height: 3vw;
    background-color: #131414;
    color: white;
    font-size: 1.2vw;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Hover effects */
.navigate-button:hover {
    background-color: darkgray;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
    h1 {
        font-size: 4vw;
    }

    .yearly-tracks {
        margin-top: 8vw;
    }

    .yearly-track-item {
        width: 80%;
        padding: 4vw;
        gap: 2vw;
    }

    .album-cover-container {
        width: 30vw;
    }

    .album-cover:first-child {
        transform: translate(-1vw, -1vw);
    }

    .album-cover:last-child {
        transform: translate(1vw, 1vw);
    }

    .track-label, .artist-name, .track-name {
        font-size: 2.5vw;
    }

    .navigate-button {
        width: 8vw;
        height: 8vw;
    }
}

