/* Set the body background to blue and make it take up the entire screen */
body, html {
    background-color: #1db954; /* Blue-green background */
    color: #ffffff;
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    height: 100%;
}

.spotify-wrapper {
    background-color: #000000;
    color: #000000;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 40px;
}

.error {
    color: red;
}

.yearly-tracks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.yearly-track-item {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 15px;
    width: 180px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.album-cover {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.year-label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0;
}

.track-label {
    font-size: 0.9rem;
    color: #b3b3b3;
    margin: 4px 0;
}

.track-name,
.artist-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.track-name:hover,
.artist-name:hover {
    color: #1db954;
}




