.navigate-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
    transition: background-color 0.3s ease;
}

.navigate-button:hover {
    background-color: darkgray;
}

.to-dashboard-button {
    width: 250px;
}

.wrapped-background {
    color: var(--primary-text-color);
    min-height: 100vh;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
    overflow-y: auto; /* Allow scrolling if content overflows */
    width: 100vw;
    background-color: var(--background-color);
}